<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Fast Food Доставка</title>
    {% endblock title %}
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carlito:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
            <div class="container">
                <a class="navbar-brand" href="#"> Fast Food Доставка</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Головна</a></li>
                        <li class="nav-item"><a class="nav-link" href="#menu">Меню</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Контакти</a></li>
                    </ul>
                    <form class="d-flex" action="{{ url_for('search_page') }}" method="get">
                        <input class="form-control me-2" type="search" name="query" placeholder="Пошук" required>
                        <button class="btn btn-outline-light" type="submit">Шукати</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <main class="container my-4">
        {% block content %}{% endblock content %}
    </main>

    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2025 Fast Food Доставка - Смачно та швидко!</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
